

div.col-2.box{
    background-color: rgb(0, 92, 196);
    padding: 1rem;
    border:3px dotted #8981fc;
    border-radius:15px;
    height: 4rem;
    font-size: 2rem;
    font-weight:bold;
    text-align: center;
    margin:1rem;
}

div.col-2.boxfizz{
    background-color: rgb(114, 253, 114);

}


div.col-2.boxbuzz{
    background-color: rgb(228, 255, 77);
}

div.col-2.boxfizzbuzz{
    background-color: rgb(255, 77, 133);

}

